/* Targeted the class  */
/* .bg-red {
	background-color: red;
} */

/* Targeted the body */
body {
	background-color: violet;
}

/* Target Id in CSS */

* {
	box-sizing: border-box;
	margin: 0;
}

#header-text {
	color: red;
}

.header-text {
	color: #fff;
}

h1 {
	color: blue;
}

.container {
	width: 90vw;
	height: 50vh;
	background-color: aqua;
	padding-top: 100px;
	margin-top: 100px;
}

.btn-link {
	text-decoration: none;
	background-color: red;
	padding: 10px;
}
